
.DS_Store
/data
/results
code/.ipynb_checkpoints/01-create-descriptors-checkpoint.ipynb
code/.ipynb_checkpoints/02-create-mixture-features-checkpoint.ipynb
code/.ipynb_checkpoints/03-rf-prediction-checkpoint.ipynb
code/.ipynb_checkpoints/04-smellformer-checkpoint.ipynb
code/.ipynb_checkpoints/02b-create-mixture-features-reka-checkpoint.ipynb
code/.ipynb_checkpoints/03b-rf-prediction-with-sim-checkpoint.ipynb
code/.ipynb_checkpoints/05-check-rekas-features-checkpoint.ipynb
